
<p style="width: 80%; margin:50px 0 0 20.5% ;">USER</p>
<table class="table table-striped" style="width: 80%; margin:50px 0 0 20.5% ;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên người dùng</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>
          <a href="/movies/edit/{{this._id}}" class="btn btn-link">Sửa</a>
          <a
            href=""
            class="btn btn-link"
            data-bs-toggle="modal"
            data-id="{{this._id}}"
            data-bs-target="#delete-movie-modal"
          >Xóa</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>